<!DOCTYPE html>
<html>
<head>
	<title>Ninja Gold</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'app1/styles.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<p>Ninja gold: {{ gold }}</p>
	<div>
		<h3>Farm</h3>
		<p>(earns 10-20 golds)</p>
		<form action="process" method="post">
			{% csrf_token %}
			<input type="hidden" name="building" value="farm">
			<input type="submit" name="submit" value="Find Gold!">
		</form>
	</div>
	<div>
		<h3>Cave</h3>
		<p>(earns 5-10 golds)</p>
		<form action="process" method="post">
			{% csrf_token %}
			<input type="hidden" name="building" value="cave">
			<input type="submit" name="submit" value="Find Gold!">
		</form>
	</div>
	<div>
		<h3>House</h3>
		<p>(earns 2-5 golds)</p>
		<form action="process" method="post">
			{% csrf_token %}
			<input type="hidden" name="building" value="house">
			<input type="submit" name="submit" value="Find Gold!">
		</form>
	</div>
	<div>
		<h3>Casino</h3>
		<p>(earns/takes 0-50 golds)</p>
		<form action="process" method="post">
			{% csrf_token %}
			<input type="hidden" name="building" value="casino">
			<input type="submit" name="submit" value="Find Gold!">
		</form>
	</div>
	<form action="reset" method="post">
		{% csrf_token %}
		<input type="submit" name="submit" value="Reset Game">
	</form>
	<p>Activities</p>
	<div id="activities">
		{% for message in log %}
			<p class="{{message.class}}">{{ message.message }}</p>
		{% endfor %}
	</div>
</body>
</html>